.entry-grid {
    display: grid;
    gap: 1px;
    background: rgb(209, 209, 209);
    padding: 1px;
}

.entry-grid-quote {
    grid-template-columns: repeat(auto-fit, 20px);
}

.entry-grid-source {
    grid-auto-columns: 20px;
    grid-template-rows: 20px;
    grid-auto-flow: column;
}

.entry-grid-answer {
    grid-auto-columns: 20px;
    grid-template-rows: 20px;
    grid-auto-flow: column;
}

.entry-grid-holder {
    display: block;
    width: fit-content;
}

.entry-grid-holder-quote {
    display: block;
}

.clues-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}

.entry-cell {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 20px;
    height: 20px;
    user-select: none;
}

.cursor {
    width: 10px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: -5px;
}

.cursor-both {
    background: rgba(200, 200, 0, 0.9);
}

.cursor-cell {
    visibility: hidden;
}

.cursor-grid {
    visibility: hidden;
}

.cursor-none {
    visibility: hidden;
}

.content-guess {
    background: rgb(255, 255, 255);
}

.content-guess-both {
    background: rgb(214, 214, 255)
}

.content-guess-cell {
    background: rgb(199, 199, 199)
}

.content-guess-grid {
    background: rgb(240, 240, 255)
}

.content-guess-pen {
    color: black;
}

.content-guess-pencil {
    color: rgb(169, 169, 169);
    font-style: italic;
}

.content-guess-none {
    background: rgb(255, 255, 255);
}

.content-correct {
    background: rgb(255, 255, 255);
}

.content-space {
    background: rgb(0, 0, 0);
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(25, 25, 25);
        color: rgb(220, 220, 220)
    }

    a:link {
        color: rgb(115, 130, 250);
    }

    /* visited link */
    a:visited {
        color: rgb(180, 110, 250);
    }

    /* selected link */
    a:active {
        color: rgb(230, 20, 30);
    }

    .content-guess {
        background: rgb(25, 25, 25);
    }

    .content-space {
        background: rgb(123, 123, 123);
    }

    .entry-grid {
        background: rgb(136, 136, 136)
    }

    .content-guess-pen {
        color: rgb(238, 238, 238);
    }

    .content-guess-pencil {
        color: rgb(125, 125, 125);
    }

}