.entry-grid {
    display: grid;
    gap: 1px;
    background: lightgrey;
    padding: 1px;
}

.entry-grid-quote {
    grid-template-columns: repeat(auto-fit, 20px);
}

.entry-grid-source {
    grid-auto-columns: 20px;
    grid-template-rows: 20px;
    grid-auto-flow: column;
}

.entry-grid-answer {
    grid-auto-columns: 20px;
    grid-template-rows: 20px;
    grid-auto-flow: column;
}

.entry-grid-holder {
    display: block;
    width: fit-content;
}

.entry-grid-holder-quote {
    display: block;
}

.clues-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}

.entry-cell {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 20px;
    height: 20px;
    user-select: none;
}

.cursor {
    width: 10px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: -5px;
}

.cursor-both {
    background: rgba(200, 200, 0, 0.9);
}

.cursor-cell {
    background: lightgrey;
    visibility: hidden;
}

.cursor-grid {
    background: lightgrey;
    visibility: hidden;
}

.cursor-none {
    background: white;
    visibility: hidden;
}

.content-guess {
    background: white;
}

.content-guess-both {
    background: rgb(214, 214, 255)
}

.content-guess-cell {
    background: rgb(199, 199, 199)
}

.content-guess-grid {
    background: rgb(240, 240, 255)
}

.content-guess-none {
    background: white;
}

.content-correct {
    background: white;
}

.content-space {
    background: black;
}